body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.comments h3, .comments p {
  margin: 0;
}

.comments{
  margin-bottom: 20px;
}

.flex {
  display: flex;
  
}



div.row, div.card {
  padding: 0;
}

img.card-img {
  padding: 0;
}